@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  margin: 0;
  padding: 0;
  background-image: url('../public/background2.jpg'); /* Ruta a la imagen en la carpeta public */
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Fija la imagen para que no se desplace con el contenido */
  min-height: 100vh; /* Asegura que el cuerpo ocupe al menos el 100% de la altura de la ventana */
  
}
